<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Blogr to start blogging!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
    </div>
  </div>
</header>

<div class="description">
  <h3>Blogr allows you to blog and connect with other fellow blogrs</h3>
</div>
