@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
  background-color: #2E2F30;
  border-color: #2E2F30;
}
.navbar {
  border-radius: 0px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}
.navbar-default .navbar-brand {
  font-size: 2em;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #FED136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fff;
//  text-decoration: underline;
}

.navbar-brand{
  margin-left: 10px !important;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FED136;
}

.footer{
  border-top: 1px solid #eaeaea;
  color: #FFFFFF;
//  color: #777;
  background-color: #666666;
  padding-bottom: 5px;
}

footer p{
  text-align: right;
  margin: 5px 20px;
}

header {
  margin-top: -20px;
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url("header-bg.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media(min-width:768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

.description{
  text-align: center;
//  background-color: gold;
  background-color: #212121;
  margin-top: -20px;
  height: 90px;
}

.description h3{
  padding-top: 30px;
  color: #FFFFFF;
}